@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #333333;
  font-family: "ヒラギノ角ゴ", "メイリオ", sans-serif;
  background: url(./img/bg.png);
}

.inner {
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
  .inner {
    width: 90%;
  }
}

@media screen and (min-width: 576px) {
  .inner {
    width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .inner {
    width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .inner {
    width: 960px;
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.breadcrumb {
  font-size: 14px;
  padding-top: 40px;
}

.breadcrumb a {
  color: #333333;
  text-decoration: none;
}

button {
  border: none;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 16px;
}

button:hover {
  background-color: #000000;
  transition: 0.3s ease 0s;
}

.section-title {
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  padding-top: 32px;
}

.pagenation {
  text-align: center;
  padding: 32px 0;
}

.pagenation a {
  border: 1px solid #000000;
  text-decoration: none;
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
}

.pagenation span {
  border: 1px solid #000000;
  color: #000000;
  padding: 10px;
}

.global-nav {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
  .global-nav {
    overflow-x: scroll;
    padding: 16px 0;
    justify-content: left;
  }
}

.global-nav li {
  margin: 0 10px;
  list-style: none;
  text-align: center;
  white-space: nowrap;
}

.global-nav li:hover {
  opacity: 0.7;
  transition: 0.3s ease all;
}

.global-nav li a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  font-size: 12px;
}

.global-nav li a::after {
  display: block;
  text-transform: uppercase;
  font-size: 22px;
}

@media screen and (min-width: 576px) {
  .global-nav li {
    font-size: 13px;
    margin: 16px 10px;
  }
}

@media screen and (min-width: 992px) {
  .nav-top::after {
    content: 'top';
  }
}

@media screen and (min-width: 992px) {
  .nav-news::after {
    content: 'news';
  }
}

@media screen and (min-width: 992px) {
  .nav-story::after {
    content: 'story';
  }
}

@media screen and (min-width: 992px) {
  .nav-comic::after {
    content: 'comic';
  }
}

@media screen and (min-width: 992px) {
  .nav-comments::after {
    content: 'comments';
  }
}

@media screen and (min-width: 992px) {
  .nav-cast::after {
    content: 'cast';
  }
}

@media screen and (min-width: 992px) {
  .nav-inquiry::after {
    content: 'inquiry';
  }
}

@media screen and (min-width: 992px) {
  .nav-reserve::after {
    content: 'reserve';
  }
}

.top {
  background: url(./img/top.png);
  background-size: cover;
  background-position: center;
  color: #ffffff;
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
}

.top::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.top .inner {
  padding-top: 32px;
  margin: 0 auto;
}

.top-title img {
  width: 100%;
}

.top-under {
  padding: 16px 0;
}

@media screen and (max-width: 576px) {
  .top-schedule {
    text-align: center;
  }
}

@media screen and (min-width: 576px) {
  .top-schedule {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .top-schedule {
    vertical-align: bottom;
    text-align: left;
  }
}

.top-schedule img {
  padding-top: 32px;
  width: 75%;
  height: auto;
}

.btn-ticket {
  background-color: #c63205;
  float: right;
  transform: translateY(-50%);
}

.btn-inner {
  margin-bottom: 32px;
}

.introduction {
  padding-top: 50px;
}

.introduction-inner {
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
  background-image: url(./img/introduction.png);
  background-position: top 0 left;
  background-repeat: no-repeat;
  background-size: 20%;
}

@media screen and (min-width: 768px) {
  .introduction-inner {
    padding: 16px 20px;
  }
}

.introduction-inner h2 {
  text-align: center;
  padding-top: 32px;
}

.introduction-inner h3 {
  text-align: center;
  font-size: 18px;
  letter-spacing: -2px;
}

@media screen and (min-width: 768px) {
  .introduction-inner h3 {
    font-size: 32px;
  }
}

@media screen and (min-width: 768px) {
  .int-content {
    padding: 20px;
  }
}

.video-inner {
  padding-top: 40px;
}

.youtube {
  position: relative;
  padding-bottom: 56.25%;
  /*アスペクト比 16:9の場合の縦幅*/
  height: 0;
  overflow: hidden;
}

.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.news {
  padding: 40px 0;
}

@media screen and (min-width: 768px) {
  .news .row {
    display: flex;
    flex-wrap: wrap;
  }
}

.news a {
  text-decoration: none;
}

.news-inner {
  position: relative;
}

.btn-news {
  text-align: center;
  margin-top: 16px;
  margin: 0 auto;
}

.btn-news button {
  background: #c63205;
}

.btn-news button:hover {
  background-color: #000000;
  transition: 0.3s ease 0s;
}

@media screen and (min-width: 768px) {
  .btn-news button {
    position: absolute;
    top: 10px;
    right: 0;
  }
}

.news-list {
  justify-content: space-between;
}

.news-item {
  width: 100%;
  background-color: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: center;
}

.news-item:hover {
  opacity: 0.8;
}

.news-item img {
  width: 100%;
  height: 50%;
}

@media screen and (min-width: 768px) {
  .news-item img {
    height: 200px;
  }
}

@media screen and (min-width: 768px) {
  .news-item {
    max-width: 28%;
  }
}

.news-item2 {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .news-item2 {
    display: flex;
    justify-content: space-between;
  }
}

.news-item-under {
  background-color: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .news-item-under {
    flex: 0 0 50%;
    max-width: 45%;
    height: 160px;
  }
}

.news-item-under img {
  width: 100%;
  height: 50%;
}

@media screen and (min-width: 768px) {
  .news-item-under img {
    height: 160px;
  }
}

@media screen and (min-width: 768px) {
  .news-item-under .news-item-inner {
    display: flex;
  }
}

.news-item-content {
  padding: 16px;
}

.news-date {
  color: gray;
}

.news-title {
  font-weight: bold;
  flex-wrap: wrap;
  font-size: 20px;
  color: #333333;
}

.story {
  color: #ffffff;
  background-image: url(./img/story1.jpg);
  background-size: cover;
  background-position: center;
  padding-bottom: 50px;
  position: relative;
  z-index: 1;
}

.story h2 {
  padding-bottom: 20px;
}

.story::before {
  position: absolute;
  content: "";
  background: -webkit-linear-gradient(left, rgba(22, 22, 22, 0) 0%, rgba(22, 22, 22, 0) 1%, #161616 100%);
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  z-index: -1;
}

.story-breadcrumb {
  color: #ffffff;
  padding-top: 10px;
}

.story-breadcrumb a {
  color: #ffffff;
}

.story-inner {
  padding-bottom: 30px;
  z-index: 10;
}

@media screen and (min-width: 768px) {
  .story-inner {
    width: 50%;
    margin-left: auto;
  }
}

.story-lead p {
  margin-bottom: 10px;
}

.btn-more-story {
  text-align: center;
}

.btn-more-story button {
  background-color: #c63205;
  padding: 10px 16px;
}

.btn-more-story button:hover {
  background-color: #000000;
  transition: 0.3s ease 0s;
}

@media screen and (min-width: 768px) {
  .btn-more-story {
    float: right;
  }
}

.comments-lead {
  font-size: 20px;
  text-align: center;
  padding: 20px 0;
}

.comments-card {
  margin: 16px 0;
}

.comments-card-inner {
  color: #ffffff;
  background-color: #000000;
  padding: 30px 15px;
  margin-top: -10px;
}

@media screen and (min-width: 768px) {
  .comments-card-inner {
    background-image: url(./img/comments.jpg);
    background-size: cover;
    background-position: center,center;
    position: relative;
    z-index: 1;
  }
  .comments-card-inner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
  }
}

@media screen and (min-width: 768px) {
  .comments-card-inner {
    padding: 64px;
  }
}

.comments-name {
  font-size: 17px;
}

@media screen and (min-width: 768px) {
  .comments-name h4 {
    font-size: 22px;
    font-weight: 400;
    margin-top: 8px;
  }
}

.comments-name p {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .comments-name p {
    margin-left: 5px;
  }
}

@media screen and (min-width: 768px) {
  .comments-name {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .comment {
    width: 60%;
  }
}

.btn-more-comments {
  margin-top: 10px;
  text-align: center;
}

.btn-more-comments button {
  background-color: #c63205;
}

.btn-more-comments button:hover {
  background-color: #000000;
  transition: 0.3s ease 0s;
}

@media screen and (min-width: 768px) {
  .btn-more-comments {
    float: right;
    transform: translateY(-30%);
  }
}

.comments-sm {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .comments-sm {
    display: none;
  }
}

.cast {
  position: relative;
  padding-bottom: 80px;
}

.background {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 90%;
  top: 200px;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .background {
    height: 80%;
  }
}

.cast-items {
  padding-top: 20px;
}

@media screen and (min-width: 768px) {
  .cast-items {
    display: flex;
    justify-content: center;
  }
}

.cast-card-item {
  text-align: center;
  padding-top: 10px;
}

@media screen and (min-width: 768px) {
  .cast-card-item {
    width: 30%;
    justify-content: center;
    margin: 0 18px;
    padding-top: 0;
  }
}

.cast-name {
  padding: 16px;
  text-align: center;
  font-size: 14px;
}

.cast-name span {
  display: block;
  font-weight: bold;
  font-size: 28px;
}

.cast-history {
  text-align: left;
  margin: 0;
}

.history-1 {
  padding-top: 18px;
}

.btn-cast-more {
  text-align: center;
  margin-top: 60px;
}

.btn-cast-more button {
  color: #c63205;
  font-weight: bold;
  background: none;
  border: 4px solid #c63205;
  padding: 3px 10px;
}

.schedule {
  margin-top: 130px;
  text-align: center;
  padding-bottom: 40px;
}

.schedule h2 {
  padding-bottom: 20px;
}

.schedule .inner {
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
}

.schedule-inner {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 16px;
}

.schedule-info {
  font-size: 20px;
  padding-bottom: 16px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .schedule-info {
    display: flex;
  }
}

.schedule-info a {
  color: #333333;
  padding-left: 30px;
}

.btn-schedule {
  justify-content: center;
  padding-top: 16px;
}

@media screen and (min-width: 768px) {
  .btn-schedule {
    display: flex;
  }
}

.btn-contact {
  background-color: #421f15;
}

@media screen and (min-width: 768px) {
  .btn-contact {
    margin-right: 16px;
  }
}

@media screen and (max-width: 576px) {
  .btn-contact {
    margin-bottom: 16px;
  }
}

.btn-ticket-s {
  background-color: #c63205;
}

.copy-right {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 24px 0;
}

.top-inner {
  display: flex;
}

.top-inner img {
  width: 100%;
}

.top-inner .top-schedule {
  padding-right: 0;
  padding-left: 0;
}

.top-inner .top-schedule img {
  width: 80%;
}

@media screen and (min-width: 768px) {
  .top-inner .top-schedule img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .top-inner .top-schedule {
    margin-left: auto;
  }
  .top-inner .top-schedule img {
    width: 100%;
  }
}

.top-content {
  padding-left: 0;
  padding-right: 0;
}

.btn-inner {
  padding: 0;
  margin-bottom: 40px;
}

.archive-list {
  flex-wrap: wrap;
}

#primary {
  padding-top: 32px;
}

.news-content-inner {
  margin: 20px 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.news-content-inner img {
  width: 100%;
  height: auto;
}

.news-content-inner h1 {
  color: #ffffff;
  font-size: 26px;
}

.news-content-inner h1 p {
  font-weight: 400;
  font-size: 12px;
}

.news-header {
  background-color: #000000;
}

.news-meta {
  padding: 16px 24px;
}

.content-inner {
  padding: 40px;
}

.content-inner h2 {
  font-size: 16px;
}

.content-inner h3 {
  padding: 24px 0;
  font-size: 24px;
}

.content-inner p {
  padding-bottom: 16px;
}

.news-pagenation {
  display: flex;
}

.news-pagenation time {
  font-weight: 400;
}

.news-preview {
  display: flex;
}

.preview-left {
  font-weight: bold;
  width: 50%;
  position: relative;
  padding-left: 30px;
  margin-right: 0;
}

.preview-left a {
  text-decoration: none;
  color: #333333;
}

.preview-left #text {
  display: none;
}

.preview-left::after {
  content: "\f137";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 50%;
  left: 0;
  width: 15px;
  font-size: 24px;
}

.preview-left:hover {
  opacity: 0.6;
  transition: 0.3s ease 0s;
}

.preview-right {
  font-weight: bold;
  width: 50%;
  position: relative;
  padding-right: 30px;
  margin-left: auto;
  text-align: right;
}

.preview-right a {
  text-decoration: none;
  color: #333333;
}

.preview-right::after {
  content: "\f138";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 24px;
}

.preview-right:hover {
  opacity: 0.6;
  transition: 0.3s ease 0s;
}

.story-top {
  background: none;
  position: relative;
  margin-bottom: 0;
}

.story-top::before {
  position: absolute;
  background: none;
}

.story-container {
  position: relative;
  z-index: 1;
  color: #ffffff;
}

.story-container::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.story-top {
  background: url(./img/story1.jpg);
  background-color: #000000;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.story-top::before {
  content: "";
  position: absolute;
  left: 50%;
  background: linear-gradient(to right, transparent, black);
  width: 50%;
  height: 100%;
}

.story-1, .story-2, .story-3, .story-4 {
  width: 80%;
  padding-top: 40px;
  padding-bottom: 60px;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .story-1, .story-2, .story-3, .story-4 {
    width: 50%;
  }
}

@media screen and (max-width: 576px) {
  .story-1, .story-2, .story-3, .story-4 {
    margin: 0 auto;
  }
}

.story-1 p, .story-2 p, .story-3 p, .story-4 p {
  padding-bottom: 5px;
}

.story-1 {
  padding-top: 40px;
}

@media screen and (min-width: 768px) {
  .story-1 {
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .story-3 {
    margin-left: auto;
  }
}

.background-st-2 {
  background: url(./img/story2.png);
  background-color: #000000;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top right;
  position: relative;
}

.background-st-2::before {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

.background-st-3 {
  background: url(./img/story3.png);
  background-color: #000000;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.background-st-3::before {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .background-st-3 {
    background-position: center left;
  }
}

.background-st-4 {
  background: url(./img/story4.png);
  background-color: #000000;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center right;
  position: relative;
}

.background-st-4::before {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

.comment-list-inner {
  padding: 40px 0;
  justify-content: center;
}

@media screen and (min-width: 576px) {
  .comment-list-inner {
    display: flex;
    flex-wrap: wrap;
  }
}

.comment-content {
  margin-bottom: 32px;
  margin-top: 32px;
}

.comment-content h3 {
  font-size: 24px;
  text-align: center;
}

.comment-content h3 span {
  font-weight: 400;
  font-size: 14px;
  display: block;
  padding-bottom: 16px;
}

.comment-content p {
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .comment-content {
    width: 30%;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.cast-list-inner {
  display: flex;
  flex-wrap: wrap;
  padding-top: 150px;
}

.cast-list {
  font-size: 14px;
  margin-bottom: 32px;
  text-align: center;
}

.cast-list h3 {
  font-size: 24px;
  padding-bottom: 16px;
}

.cast-list h3 span {
  display: block;
  font-weight: 400;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .cast-list {
    width: 47%;
    display: flex;
    text-align: left;
    margin-left: 8px;
    margin-right: 8px;
  }
}

.cast-list img {
  width: 120px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  .cast-list img {
    margin-right: 20px;
  }
}

.cast-list p {
  text-align: left;
}

.cast-list-2 {
  background: rgba(255, 255, 255, 0.8);
}

.cast-list-2 h3 {
  font-size: 24px;
  text-align: center;
}

.cast-list-2 h3 span {
  font-size: 14px;
  font-weight: 400;
  display: block;
}

.cast-list-2-inner {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 0;
}

.cast-list-name {
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .cast-list-name {
    width: 30%;
    margin-right: 10px;
    margin-left: 10px;
  }
}

form dl {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  form dl {
    display: flex;
  }
}

form dt {
  font-weight: bold;
  padding-right: 10px;
}

@media screen and (min-width: 768px) {
  form dt {
    text-align: right;
    width: 30%;
  }
}

form dd {
  width: 100%;
}

form input {
  width: 100%;
  border: none;
  opacity: 0.7;
  padding: 10px 0;
}

form textarea {
  width: 100%;
  border: none;
  opacity: 0.7;
}

.form {
  background: rgba(255, 255, 255, 0.4);
  padding: 24px 16px;
}

@media screen and (min-width: 768px) {
  .form {
    margin: 0 20%;
  }
}

.form-suvtitle {
  padding-bottom: 10px;
}

.btn-form {
  text-align: center;
  padding-top: 16px;
}

.btn-form input {
  width: auto;
  background-color: #c63205;
  padding: 10px 30px;
  color: #ffffff;
  opacity: 1;
  font-size: 16px;
}

.form-after {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 32px 24px;
  text-align: center;
}

.form-after p {
  font-weight: bold;
  font-size: 18px;
}

.comic-subtitle {
  padding: 20px 0;
  text-align: center;
  font-size: 20px;
}
